$white: rgba(255, 255, 255, 1.0);
$black: rgba(0, 0, 0, 1.0);
$green: rgba(239, 255, 241, 1.0);
$red: rgba(253, 227, 226, 1.0);
$yellow: rgba(254, 252, 235, 1.0);
$blue: rgba(231, 248, 255, 1.0);
$lilla: rgba(241, 224, 254, 1.0);
$overlay: rgba(255, 255, 255, 0.8);
$grey: rgba(210, 210, 210, 1.0);
