// icons
$icon-size-reg: 20px;
$header-icon-size-reg: 30px;

// font sizes
$font-size-small: 10px;
$font-size-reg: 15px;
$font-size-big: 22px;

// layer positions
$layer2-x: 40px;
$layer2-y: 150px;
$layer3-x: $layer2-x + 20px;
$layer3-y: $layer2-y + 20px;

// posision
$global-content-left-margin: 260px;

// size
$global-content-max-width: 1024px;
$global-content-min-width: 500px;
