<template name="mainPageTemplate">
  <div class="toolbar">
    <div class="toolbar-button new-discussion-button"><div class="toolbar-button-label">New Discussion</div></div>
    <div class="search-wrapper">
        <input type="text" class="global-main-search" placeholder="Search..">
        <div class="search-button global-main-search-button">
            <div class="img-wrapper">
                <img class="search-icon" src="icons/search.svg" alt="">
                <img class="cancel-search-icon" src="icons/close.svg" alt="">
            </div>
        </div>
    </div>
  </div>
  <div class="toolbar-bottom-split"><div class="small-header">Discussions</div></div>
  <div class="global-page-content main-page-content">

      <ul class="discussion-list">
          {{#each allDiscussions}}
              <li class="discussion" id="{{this._id}}" data-id="{{this._id}}"> <div class="header">{{this.header}}</div>  - {{this.username}} - {{convertedDate}} <div class="unread"> </div> </li>
          {{/each}}
      </ul>
  </div>
</template>
