<template name="usersTemplate">
  <div class="users-page-wrapper">
    <div class="toolbar">
      <div class="toolbar-button addUser-button"><div class="toolbar-button-label">Add User</div></div>
      <div class="search-wrapper">
        <input type="text" class="global-users-search" placeholder="Search..">
        <div class="search-button global-users-search-button">
            <div class="img-wrapper">
                <img class="search-icon" src="icons/search.svg" alt="">
                <img class="cancel-search-icon" src="icons/close.svg" alt="">
            </div>
        </div>
      </div>
    </div>
    <div class="toolbar-bottom-split">
        <div class="small-header username-header info-row1">USERNAME</div>
        <div class="small-header email-header info-row2">EMAIL</div>
        <div class="small-header usertype-header info-row3">USERTYPE</div>
    </div>
    <div class="global-page-content">
      {{#if currentUser}}
        {{#if isInRole 'admin' 'users'}}
          <!-- {{> CreateNewUserTemplate}} -->
          {{> AllUsersTemplate}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name="AllUsersTemplate">
  <div class="userlist-wrapper">
    <ul>
      {{#each AllUsers}}
        <li class="user-li label">
            <div class="online-status {{#if this.status.online}}user-online{{else}}user-offline{{/if}}"></div>
            <div class="img-wrapper"><img src="icons/user.svg" alt=""></div><div>{{this.username}}</div>
            <div class="info-row2">{{this.emails.[0].address}}</div>
            <div class="info-row3">{{this.roles.users}}</div>
            {{#if ShowDelete}}
                <div class="user-li-edit-user user-edit" id="{{this._id}}"><div class="img-wrapper"><img src="icons/settings.svg" alt=""></div></div>
                <div class="user-li-delete-user user-delete" id="{{this._id}}"><div class="img-wrapper"><img src="icons/delete.svg" alt=""></div></div>
            {{/if}}
        </li>

        <!-- {{#if ShowDelete}}<button id="{{this._id}}" class="user-delete">delete</button>{{/if}} -->

      {{/each}}
    </ul>
  </div>
</template>

<template name="deleteUserTemplate">
    <div class="modal-wrapper">
        <div class="modal">
            <div class="toolbar">
                <h1>Delete User {{userNameToDelete}}?</h1>
                <div class="close-button close-modal"><div class="img-wrapper"><img src="icons/close.svg" alt=""></div></div>
            </div>
            <div class="modal-content-wrapper delete-user-modal-content">
                <div class="confirm-msg">
                    Please confirm you want to delete user {{userNameToDelete}}.
                </div>
                <div class="delete-the-user button">Confirm</div>
            </div>
        </div>
    </div>
</template>
