<template name="addProjectTemplate">
    <div class="layer2-overlay"></div>
    <div class="layer2 addProject-wrapper">
        <div class="toolbar">
            <h1>Add Project</h1>
            <div class="close-button close-addProject-button close-layer2"><div class="img-wrapper"><img src="icons/close.svg" alt=""></div></div>
        </div>
        <div class="addProject-content-wrapper">
            <form class="addProject-form" action="">
                <div class="step step-1">
                    <input class="project-title" type="text" name="projecttitle" placeholder="Project Title" required="required"/>
                    <div class="project-categori-wrapper">
                        <div class="project-categori-label">Categori</div>
                        <select name="project-categori">
                            <option value="categori1" selected>categori1</option>
                            <option value="categori2" >categori2</option>
                            <option value="categori3">categori3</option>
                        </select>
                    </div>
                    <textarea class="project-description" name="projectdescription" placeholder="Description"></textarea>
                </div>
                <div class="step step-2">

                </div>
                <div class="step step-3">

                </div>
            </form>
            <div class="button-big add-project-next">Next</div>
            <div class="button-big add-project-prev">Back</div>
        </div>
    </div>
</template>
