<template name="approvalsTemplate">
  <div class="global-page-approvals-wrapper">
    <div class="toolbar">
      <div class="search-wrapper"><input type="text" class="global-approvals-search" placeholder="Search.."><div class="search-button global-approvals-search-button"><div class="img-wrapper"><img src="icons/search.svg" alt=""></div></div></div>
    </div>
    <div class="toolbar-bottom-split"><div class="small-header">PROJECT TYPE</div></div>
    <div class="global-page-content global-page-content-approvals">
      <button class="start-layer2">layer2</button>
      aprovals
    </div>
    <div class="toolbar">
      <div class="toolbar-button global-approvals-submit-button">Submit</div>
    </div>
  </div>
</template>
