<template name="projectsTemplate">
  <div class="toolbar">
    <div class="toolbar-button add-project-button"><div class="img-wrapper"><img src="icons/addProject.svg" alt=""></div><div class="toolbar-button-label">Add Project</div></div>
    <div class="search-wrapper"><input type="text" class="global-projects-search" placeholder="Search.."><div class="search-button global-projects-search-button"><div class="img-wrapper"><img src="icons/search.svg" alt=""></div></div></div>
  </div>
  <div class="toolbar-bottom-split"><div class="small-header">PROJECT TYPE</div></div>
  <div class="global-page-content">
    <button class="start-layer2">layer2</button>
  </div>
</template>
