<template name="revisionLogTemplate">
  <div class="toolbar">
    <div class="search-wrapper"><input type="text" class="global-revisionLog-search" placeholder="Search.."><div class="search-button global-revisionLog-search-button"><div class="img-wrapper"><img src="icons/search.svg" alt=""></div></div></div>
  </div>
  <div class="toolbar-bottom-split"><div class="small-header">FILENAME</div></div>
  <div class="global-page-content">
    <button class="start-layer2">layer2</button>
  </div>
</template>
