<template name="templatesTemplate">
  <div class="toolbar">
    <div class="toolbar-button"><div class="img-wrapper"><img src="icons/addTemplate.svg" alt=""></div><div class="toolbar-button-label">Add Template</div></div>
    <div class="search-wrapper"><input type="text" class="global-templates-search" placeholder="Search.."><div class="search-button global-templates-search-button"><div class="img-wrapper"><img src="icons/search.svg" alt=""></div></div></div>
  </div>
  <div class="toolbar-bottom-split"><div class="small-header">TEMPLATE NAME</div></div>
  <div class="global-page-content">
    <button class="start-layer2">layer2</button>
  </div>
</template>
