.discussion-page-wrapper {
  // display: inline-block;
  // width: calc(100% - 300px);
  // max-width: $global-content-max-width;
  // margin-left: $global-content-left-margin;
}

.discussion-page-header {
  // display: inline-block;
  // position: relative;
  // height: 30px;
  // width: calc(100% - 10px);
  //
  // background-color: blue;
  // margin-top: 3px;
  // padding: 10px 0px 0px 10px;
}

.discussion-page-content {
    display: inline-block;
    height: calc(100vh - 200px);
    width: calc(100% - 40px);
    padding: 20px;
    padding-bottom: 0px;
    overflow-y: scroll;
    background-color: red;
    margin-bottom: -3px;



    .comment {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $black;
        .info {
            display: inline-block;
            width: 100%;
            div {
                float: left;
            }

            .owner {
                margin-bottom: 20px;
                margin-right: 20px;
            }
        }
    }
}
.add-comment-form {
    height: 130px;
    width: 100%;
    background-color: green;
    textarea {
        float: left;
        width: 50%;
    }
    input {
        float: left;
    }
}
