.discussion-page-wrapper {
  // display: inline-block;
  // width: calc(100% - 300px);
  // max-width: $global-content-max-width;
  // margin-left: $global-content-left-margin;
}

.discussion-page-header {
  // display: inline-block;
  // position: relative;
  // height: 30px;
  // width: calc(100% - 10px);
  //
  // background-color: blue;
  // margin-top: 3px;
  // padding: 10px 0px 0px 10px;
}

.discussion-page-content {
    display: inline-block;
    height: calc(100vh - 200px);
    width: calc(100%);
    padding-bottom: 0px;
    overflow-y: scroll;
    // background-color: $black;
    margin-bottom: -3px;



    .comment {

        // background-color: $black;
        color: $grey;
        .info {
            display: inline-block;
            width: calc(100% - 60px);
            background-color: $black;
            font-weight: 700;
            padding: 10px 10px 10px 50px;
            height: 20px;

            div {
                float: left;
            }

            .owner {
             margin-right: 20px;
            }
        }
        .msg {
          margin-left: 40px;
          padding: 10px;
          width: calc(100% - 60px);
          word-wrap: break-word;
          word-break: break-all;
          background-color: $grey;
          color: $black;
          min-height: 80px;
          pre {
            width: calc(100%);
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;
          }
        }
    }
}

.add-comment-form {
    height: 130px;
    width: 100%;
    background-color: $black;
    border-top: 2px solid $grey-bg;

    .add-comment-button {
      font-size: $font-size-reg;
      border: 0px;
      float: right;
      background-color: $grey;
      color: $black;
    }

    .add-comment-button:hover {
      background-color: $white;
    }

    textarea {
        border: 0px;
        width: calc(100% - 60px);
        margin-bottom: -1px;
        // margin-top: 1px;
        margin-left: 40px;
        height: 77px;
    }
    input {
        // float: left;
    }
}
