.users-page-wrapper {



    .toolbar-bottom-split {
        .info-row1 {
            margin-left: 80px;
        }

        .info-row2 {
            position: absolute;
            left: calc(35% - 15px) ;
        }

        .info-row3 {
            position: absolute;
            left: calc(75% - 29px) ;
        }
    }

    .info-row1 {
        margin-left: 80px;
    }

    .info-row2 {
        position: absolute;
        left: 35%;
    }

    .info-row3 {
        position: absolute;
        left: 75%;
    }



  .userlist-wrapper {



    .selected-user {
      background-color: $blue !important;
      padding: 9px 0px 8px 0px !important;
      border: 1px solid $black;
      width: calc(100% - 2px) !important;
    //   height: 60px;

      .user-li-edit-user {
          display: block !important;
          position: absolute;
          right: 40px;
          bottom: 0px;
          margin: 0px;
          background-color: $white;
          width: 38px;
          height: 27px;
          border-top: 1px solid $black;
          border-left: 1px solid $black;
          border-right: 1px solid $black;
          padding: 10px 0px 0px 0px !important;
      }

      .user-li-edit-user:hover {
        background-color: $green;
      }

      .user-li-delete-user {
            display: block !important;
            position: absolute;
            right: 0px;
            bottom: 0px;
            margin: 0px;
            background-color: $white;
            width: 40px;
            height: 27px;
            border-top: 1px solid $black;
            padding: 10px 0px 0px 0px !important;

          .img-wrapper {
            padding: 0px 10px 0px 10px;
            width: $icon-size-reg;
            height: $icon-size-reg;

            img {
              width: 100%;
              height: 100%;
            }
          }
      }

      .user-li-delete-user:hover {
        background-color: $red;
      }

      .img-wrapper {
        padding: 0px 10px 0px 9px;
      }

      .online-status {
        position: absolute;
        top: 19px;
        left: 24px;
      }
    }

    .user-li {
      position: relative;
      display: inline-block;
      padding: 10px 0px 9px 0px;
      width: 100%;
      margin-bottom: 0px;

        .user-li-delete-user {
            display: none;
        }

        .user-li-edit-user {
            display: none;
        }



      .img-wrapper {
        padding: 0px 10px 0px 10px;
        width: $icon-size-reg;
        height: $icon-size-reg;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .online-status {
        position: absolute;
        top: 20px;
        left: 25px;
        $online-status-radius: 10px;
        width: $online-status-radius;
        height: $online-status-radius;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 0px;
      }
      .user-online {
        background-color: lime;
      }

      .user-offline {
        background-color: red;
      }

      div {
        padding-top: 3px;
        float: left;
        margin-right: 20px;
      }


    }

    li:hover {
      cursor: pointer;
      background-color: $blue;
    }
  }


}


.delete-user-modal-content {
    position: relative;

    .confirm-msg {
        margin-top: 20px;
        margin-left: 20px;
        font-size: $font-size-reg;
        font-weight: 700;
    }

    .button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin: 0px;
        font-size: $font-size-big;
        font-weight: 700;
    }

    .button:hover {
        background-color: $red;
    }
}
