<template name="globalNavigation">
  <nav class="global-navigation">
    <div class="user-info">
      <div class="logo"></div>
      {{> loginButtons}}
    </div>
    <div class="menu-wrapper">

      <div class="tab-button new-discussion-button">
        <div class="tab-label">NEW DISCUSSION</div>
      </div>
      <div class="global-navigation-button tab-button main-tab"
        data-templateToLoad="mainPageTemplate" data-routerPath="/">
        <div class="tab-label">DISCUSSIONS</div>
      </div>
      {{#if currentUser}}
        {{#if isInRole 'admin' 'users'}}
          <div class="global-navigation-button tab-button users-tab"
            data-templateToLoad="usersTemplate" data-routerPath="/users">
            <div class="tab-label">USERS</div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </nav>
</template>
