<template name="globalNavigation">
  <nav class="global-navigation">
    <div class="global-navigation-button tab-button main-tab" data-templateToLoad="mainPageTemplate" data-routerPath="/"><div class="tab-label">myForum</div></div>
    {{#if currentUser}}
      {{#if isInRole 'admin' 'users'}}
        <div class="global-navigation-button tab-button users-tab" data-templateToLoad="usersTemplate" data-routerPath="/users"><div class="tab-label">Users</div></div>
      {{/if}}
    {{/if}}
    {{> loginButtons}}
  </nav>
</template>
