<template name="discussionPageTemplate">
  <div class="global-page-wrapper discussion-page-wrapper">

    <div class="global-page-header discussion-page-header">
      <!-- <div class="toolbar-button back-to-discussion-button"><div class="toolbar-button-label">back</div></div> -->
      {{#if subRdy}}
        {{#each disMeta}}
          <h1>{{this.header}}</h1>
        {{/each}}
      {{/if}}
      {{> burgerMenuTemplate}}
    </div>
    <div class="loading-dude">loading..</div>

    {{#if subRdy}}
    <div class="discussion-page-content">
        <ul class="discussion-msg-list">
            {{#each disMeta}}
            <li class="description comment">
                <div class="info">
                    <div class="owner">{{this.username}}</div>
                    <div class="time">{{convertedDate}}</div>
                </div>
                <div class="msg">{{this.description}}</div>
            </li>
            {{/each}}

            {{#each allComments}}
                <li class="description comment" id="{{this._id}}">
                    <div class="info">
                        <div class="user-icon"></div>
                        <div class="owner">{{this.username}}</div>
                        <div class="time">{{convertedDate}}</div>
                    </div>
                    <!-- <div class="msg"><pre>{{this.comment}}</pre></div> -->
                    <div class="msg">{{{this.comment}}}</div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="add-comment">
      <div class="upload-file-wrapper">
        {{#with currentUpload}}
        <!-- Uploading <b>{{file.name}}</b>: -->
        <span id="progress">{{progress.get}}%</span>
        {{else}}
        <input name="file" id="fileInput" class="file-input" type="file" />
        <label class="file-input-label" for="file">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </label>
        <!-- <p><small>Upload file in <code>jpeg</code> or <code>png</code> format, with size less or equal to 3MB</small></p> -->
        {{/with}}
      </div>
      <!-- <div class="uploaded-files-wrapper">
        {{#if uploadedFiles.count}}
          <ul>
            {{#each file in uploadedFiles.each}}
              <li>

                <img src="{{file.link}}"/>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <div>No files uploaded, yet</div>
        {{/if}}
      </div> -->
      <!-- <img src="/cdn/storage/Images/LDif4kydatf2AmHH3/original/LDif4kydatf2AmHH3.png"/> -->
      <!-- <img src="/webapp/uploads/86ZReHmyFC9ar45dS.png"/> -->

        <form action="" class="add-comment-form" data-id="{{disMeta._id}}">
            <textarea name="comment" class="the-comment" placeholder="Comment" autofocus></textarea>
            <button type="submit" name="submit" class="add-comment-button">
              <span class="submit-desktop">Add comment</span>
              <i class="fa fa-arrow-up submit-mobile"  aria-hidden="true"></i>
            </button>
            <!-- <input type="submit" name="submit" id="" class="add-comment-button" value="Add comment"> -->
        </form>
    </div>

    {{/if}}
  </div>
</template>
