<template name="mainPageTemplate">
  <div class="global-page-wrapper main-page-wrapper">

  <div class="global-page-header main-page-header">
    <h1>DISCUSSIONS</h1>
    <div class="search-wrapper">
        <input type="text" class="global-main-search" placeholder="SEARCH_">
        <div class="search-button global-main-search-button">
            <div class="img-wrapper">
                <img class="search-icon" src="icons/search.svg" alt="">
                <img class="cancel-search-icon" src="icons/close.svg" alt="">
            </div>
        </div>
    </div>
  </div>
  <!-- <div class="toolbar">
    <div class="toolbar-button new-discussion-button"><div class="toolbar-button-label">New Discussion</div></div>
    <div class="search-wrapper">
        <input type="text" class="global-main-search" placeholder="SEARCH_">
        <div class="search-button global-main-search-button">
            <div class="img-wrapper">
                <img class="search-icon" src="icons/search.svg" alt="">
                <img class="cancel-search-icon" src="icons/close.svg" alt="">
            </div>
        </div>
    </div>
  </div> -->
  <div class="main-page-content">
      <ul class="discussion-list">
        {{paginate}}
          {{#each allDiscussions}}
              <li class="discussion" id="{{this._id}}" data-id="{{this._id}}">
                <div class="top">
                  <div class="wrapper-left">
                    <div class="header">{{this.header}}</div>
                    <div class="isNew"></div>
                  </div>
                  <div class="wrapper-right">

                    <!-- <div class="created-user">{{this.username}}</div> -->
                    <!-- <div class="created-date">{{convertedDate}}</div> -->
                  </div>
                </div>
                <div class="bottom">
                  <div class="wrapper-left">
                    <div class="views">Views {{this.views}}</div>
                    <div class="comments">Comments {{this.comments}}</div>
                    <div class="unread"></div>
                  </div>
                  <div class="wrapper-right">
                    <!-- <div class="header">latest comment</div> -->
                  </div>
                </div>
              </li>
          {{/each}}
      </ul>
  </div>
  </div>
</template>
