<template name="editUserTemplate">
    <div class="modal-wrapper">
        <div class="modal">
            <div class="toolbar">
                <!-- <div class="header-img-wrapper"><img src="icons/addUser.svg" alt=""></div> -->
                <h1>User Settings ({{userNameToEdit}}) </h1>
                <div class="close-button close-editUser-button"><div class="img-wrapper"><img src="icons/close.svg" alt=""></div></div>
            </div>
            <div class="modal-content-wrapper editUser-content-wrapper">
            user permissions and groups here
            </div>
        </div>
    </div>
</template>
