<template name="newDisTemplate">
    <div class="modal-wrapper">
        <div class="modal">
            <div class="modal-toolbar">
                <h1>New Discussion</h1>
                <div class="close-button close-newDis-button">
                  <div class="img-wrapper">
                    <img src="icons/close.svg" alt="">
                  </div>
                </div>
            </div>
            <div class="modal-content-wrapper newDis-content-wrapper">
                <form name="newDis" class="create-new-discussion-form">
                    <input class="create-new-discussion-header-input"
                      type="text" name="header"  placeholder="Header"
                      autocomplete="off">
                    <textarea class="create-new-discussion-body-input"
                      name="description" rows="8" cols="40"
                      placeholder="Description" ></textarea>
                    <input class="create-new-discussion-submit-input"
                    type="submit" name="submit-button" value="Create">
                </form>
            </div>
        </div>
    </div>
</template>
