html, html a {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: $font-size-reg;
   -webkit-font-smoothing: antialiased;
   background-color: $grey-bg;
}

input {
font-family: 'Roboto Mono', sans-serif;
  border: 1px solid $black;
  font-size: $font-size-reg;
  padding: 10px;
}

input:focus {
  outline: 0;
  // border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

}
textarea {
    font-family: 'Roboto Mono', sans-serif;
    padding: 10px;
    font-size: $font-size-reg;
}

textarea:focus {
    outline: 0;
    // border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=submit] {
  background-color: $white;
  cursor: pointer;
  font-size: $font-size-big;
  font-weight: 700;
  padding: 5px 20px 6px 20px;
}

input[type=submit]:hover {
  background-color: $green;
  cursor: pointer;
}



.global-page-wrapper {
  display: inline-block;
  width: calc(100% - 300px);
  max-width: $global-content-max-width;
  min-width: $global-content-min-width;
  margin-left: $global-content-left-margin;

  .global-page-header {
    display: inline-block;
    position: relative;
    height: 30px;
    width: calc(100% - 10px);
    border-bottom: 1px solid $grey-bg;
    background-color: $black;
    color: $grey;
    font-weight: 700;
    margin-top: 3px;
    padding: 10px 0px 0px 10px;

    h1 {
      text-transform: uppercase;
    }

    .search-wrapper {
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      border-left: 1px solid $grey-bg;

      input {
        float: left;
        border: 0px !important;
        height: 20px;
        background-color: $black;
        color: $grey;
        font-weight: 700;
        text-transform: uppercase;
      }
      ::-webkit-input-placeholder {
         color: $grey;
         font-weight: 700;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: $grey;
         font-weight: 700;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: $grey;
         font-weight: 700;
      }

      :-ms-input-placeholder {
         color: $grey;
         font-weight: 700;
      }

      .search-button {
        display: block;
        float: left;
        // cursor: pointer;

        border: 0px;
        padding: 12px 11px 0px 11px;
        height: 25px;
        background-color: $black;

        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

        .img-wrapper {
          width: $icon-size-reg;
          height: $icon-size-reg;

          img {
              width: 100%;
              height: 100%;
          }
        }

        .cancel-search-icon, .search-icon {
            display: none;
        }
      }

      .search-button:hover {
        // background-color: $blue;
      }

      .search-activated {
          background-color: $black;

          .search-icon {
              display: none;
          }
          .cancel-search-icon {
              display: block;
          }
      }
      .search-activated:hover {

          cursor: pointer;
      }
    }
  }

  .burger-menu {
    display: none;
  }

  @media screen and ( max-width: $mobile-breakpoint ) {
    width: 100%;
    margin-left: 0px;
    min-width: 320px;

    .burger-menu {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 4000;

      .burger-menu-icon {
        padding: 10px 10px 8px 10px;
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .burger-menu-exit {
        display: none;
        padding: 10px 10px 8px 10px;
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .burger-menu-icon:hover, .burger-menu-exit:hover {
        cursor: pointer;
      }

      .burger-menu-content {
        display: none;
        position: absolute;
        top: 40px;
        right: 0px;
        width: 200px;
        height: calc(100vh - 40px);
        background-color: $white;
        color: $black;

        .burger-menu-item {
          font-weight: 700;
          cursor: pointer;
          padding: 10px 10px 10px 10px;
          background-color: $white;
          color: $black;
          width: 100%;
          height: 20px;
          text-transform: uppercase;

          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer */
          -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
          -webkit-user-select: none; /* Chrome, Safari, and Opera */
          -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
        }

        .burger-menu-item:hover {
          background-color: $grey;
          cursor: pointer;
          color: black;
        }
      }
    }

  }
}

.main-content-wrapper {
  position: relative;
  padding: 0px 0px 0px 0px;
  // background-color: red;

  .loading {
    $loading-width: 40px;
    $loading-pos-offset: $loading-width / 2;
    width: $loading-width;
    margin-left: calc(50vw - 20px);
    margin-top: calc(50vh - 20px);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.main-content {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.global-page-content {

  display: inline-block;
  margin-left: $global-content-left-margin;
  // height: calc(100vh - 202px);
  width: calc(100% - 340px);
  padding: 20px;
  background-color: red;
}


.loading-dude {
  display: inline-block;
  color: $black;
  background-color: $white;
  position: absolute;
  top: 43px;
  left: 260px;
  // width: 100%;
  // height: calc(100vh - 198px);
  // z-index: 1000;
  img {
    // width: 100%;
  }
}


.button {
  display: block;
  float: left;
  cursor: pointer;
  border: 1px solid $black;
  padding: 9px 19px;
  margin-right: 20px;
  font-weight: 700;


  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

  div {
    float: left;
  }

  .button-label {
    margin-left: 10px;
    margin-top: 3px;
    font-weight: 700;
  }


}

.button-big {
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid $black;
    padding: 9px 19px;
    font-size: $font-size-big;
    font-weight: 700;


    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

}

.error-input {
  border: 1px solid $red !important;
  background-color: $red !important;
  color: $white;
  font-weight: 700;

  div {

  }
}

.error-input::-webkit-input-placeholder {
  color: $white !important;
  font-weight: 700;
}

.error-input:-moz-placeholder { /* Firefox 18- */
  color: $white !important;
  font-weight: 700;
}

.error-input::-moz-placeholder {  /* Firefox 19+ */
  color: $white !important;
  font-weight: 700;
}

.error-input:-ms-input-placeholder {
  color: $white !important;
  font-weight: 700;
}

// user login
#login-buttons {
  position: absolute;
  right: 0px;
  top: 14px;
  padding:0px 0px 0px 0px;
}
.login-link-text {
  float: right;
}

.login-button {
  border: 0px !important;
}


#login-dropdown-list {
  display: inline-block;
  z-index: 8000;
  background-color: $white;
  position: absolute;
  top: 20px;
  right: 0px;
  border: 1px solid $black;
  width: 178px;
  // padding: 20px;
  input {
    border: 0px;
    background-color: $black;
    color: $white;
  }

  .login-close-text {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: underline;
  }

  .error-message {
    color: red;
  }

  // change password
  #login-buttons-open-change-password {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid $black;
    padding: 9px 19px 9px 19px;
    text-align: center;
    font-size: $font-size-reg;
    font-weight: 700;
  }

  #login-buttons-open-change-password:hover {
    // background-color: $blue;
  }

  $change-password-submit-width: calc(100% - 40px);
  $change-password-input-width: calc(100% - 20px);
  #login-buttons-do-change-password {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid $black;
    padding: 9px 19px 9px 19px;
    width: $change-password-submit-width;
    text-align: center;
    font-size: $font-size-reg;
    font-weight: 700;
  }

  #login-buttons-do-change-password:hover {
    background-color: $green;
  }

  #login-old-password-label {
    margin-top: 40px;
  }

  #login-old-password-label, #login-password-label, #login-password-again-label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
  }

  // inputs
  #login-old-password, #login-password, #login-password-again {
    margin-bottom: 20px;
    width: $change-password-input-width;
  }

  // logout
  #login-buttons-logout {
    // margin-bottom: 40px;
    font-size: $font-size-reg;
    font-weight: 700;
    border: 1px solid $black;
    padding: 9px 19px 9px 19px;
    text-align: center;
  }

  #login-buttons-logout:hover {
    // background-color: $red;
  }

  a {

  }

}
#login-buttons a, .login-button {
  cursor: pointer;
  color: $black;

}

#login-sign-in-link, #login-name-link {

}
