.global-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  display: inline-block;
  // background-color: $red;
  width: 200px;

  .user-info {
    position: relative;
    display: inline-block;
    // background-color: blue;
    height: 40px;
    width: 220px;

    .logo {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 40px;
      width: 40px;
      background-color: $black;
      color: $grey;
      font-weight: 700;
    }
  }

  .menu-wrapper {
    position: absolute;
    top: 40px;
    left: 40px;
  }


  .tab-button {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    background-color: $black;
    color: $grey;
    width: 160px;
    height: 20px;

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  }


  .tab-button:hover {
    background-color: $grey;
    color: $black;
  }

  .tab-button-active:hover {
    background-color: $white;
  }

  .tab-button-active {
    border-bottom: 0px;
    // padding: 10px 19px 10px 19px;
    background-color: $white;
    color: $black;
  }

  @media screen and ( max-width: $mobile-breakpoint ) {
    display: none;
  }
}
