html, html a {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-reg;
   -webkit-font-smoothing: antialiased;
}

input {
  border: 1px solid $black;
  font-size: $font-size-reg;
  padding: 10px;
}

input:focus {
  outline: 0;
  // border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

}
textarea {
    padding: 10px;
    font-size: $font-size-reg;
}

textarea:focus {
    outline: 0;
    // border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=submit] {
  background-color: $white;
  cursor: pointer;
  font-size: $font-size-big;
  font-weight: 700;
  padding: 5px 20px 6px 20px;
}

input[type=submit]:hover {
  background-color: $green;
  cursor: pointer;
}

.main-content-wrapper {
  position: relative;
  padding: 0px 60px 0px 20px;
  // background-color: red;

  .loading {
    $loading-width: 40px;
    $loading-pos-offset: $loading-width / 2;
    width: $loading-width;
    margin-left: calc(50vw - 20px);
    margin-top: calc(50vh - 20px);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.main-content {
  position: fixed;
  top: 90px;
  left: 20px;
  width: calc(100% - 80px);
}

.global-page-content {
  display: inline-block;
  height: calc(100vh - 233px);
  width: calc(100% - 40px);
  padding: 20px;
  overflow-y: scroll;


}

.tab-button {
  font-weight: 700;
  cursor: pointer;
  float: left;
  padding: 10px 20px 9px 20px;
  background-color: $white;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

  .tab-label {
    float: left;
    margin-top: 4px;
  }

  .img-wrapper {
    float: left;
    margin-right: 10px;
    height: $icon-size-reg;
    width: $icon-size-reg;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.tab-button:hover {
  background-color: $blue;
}

.tab-button-active:hover {
  background-color: $white;
}

.tab-button-active {
  border: 1px solid $black;
  border-bottom: 0px;
  padding: 10px 19px 10px 19px;
}

.button {
  display: block;
  float: left;
  cursor: pointer;
  border: 1px solid $black;
  padding: 9px 19px;
  margin-right: 20px;
  font-weight: 700;


  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

  div {
    float: left;
  }

  .button-label {
    margin-left: 10px;
    margin-top: 3px;
    font-weight: 700;
  }


}

.button-big {
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid $black;
    padding: 9px 19px;
    font-size: $font-size-big;
    font-weight: 700;


    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

}
